.text-input-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    color: var(--charcoal-grey);
}

.text-input-container__input {
    padding: 18px 24px;
    border: 1px solid #C8C8C8;
    border-radius: 8px;
    font-size: var(--paragraph-size);
    color: var(--charcoal-grey);
}

.text-input-container__input::placeholder{
    color: var(--grey);
}

.text-input-container__input:focus {
    outline: none;
    border: 1px solid var(--charcoal-grey);
}

.text-input-container span {
    display: flex;
    justify-content: space-between;
}

.text-input-container__error-message {
    color: var(--primary-color);
}

.text-input-container__input--error{
    color: var(--primary-color);
    background-color: #FFE8E6;
    border: 1px solid var(--primary-color);
}